main {
    display: flex;
    flex-wrap: wrap;
    
    width: 400px;
    height: 400px;
}

.position {
    flex-basis: 33.3%;

    border: 1px solid black;
    cursor: pointer;
    
    background-color: aquamarine;
}


.X {
   background-image: url('https://cdn-icons-png.flaticon.com/512/75/75519.png');
   background-size: 40%;
   background-repeat: no-repeat;
   background-position: center;

   cursor: not-allowed;
}

.O {
    background-image: url('https://cdn-icons-png.flaticon.com/512/274/274355.png');
   background-size: 40%;
   background-repeat: no-repeat;
   background-position: center;

   cursor: not-allowed;
}

.result {
    padding: 10px 0px;

    font-size: 1.4rem;
    font-weight: bolder;
}

.result span {
    font-weight: normal;
}